
/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #171e28;
  --f7-theme-color-rgb: 23, 30, 40;
  --f7-theme-color-shade: #080b0e;
  --f7-theme-color-tint: #263142;
  --f7-list-media-item-title-font-weight: 400;
  --froiden-primary-color: #ab8ce4;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 23;
  --g: 30;
  --b: 40;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
                  calc(var(--r) + (255 - var(--r)) * var(--progress)),
                  calc(var(--g) + (255 - var(--g)) * var(--progress)),
                  calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}
#navbar-user .item-media img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

.change-company-button {
  margin-top: 55px;
  color: black;
  font-weight: bold;
  border: 0px none;
  text-decoration: underline;
  font-size: 12px;
}

.item-media .f7-icons.side-menu-icon {
  font-size: 18px;
}

.navbar-fixed.toolbar-fixed .page-content {
  padding-top: 56px;
}

.android .badge {
  font-size: 13px;
  padding: 2px 6px;
}

.side-menu {
  margin-top: 10px;
}

.navbar-fixed.toolbar-fixed .page-content {
  padding-top: 43px;
}

.navbar-fixed .page>.searchbar~.page-content,
.navbar-fixed>.searchbar~.page-content,
.navbar-through .page>.searchbar~.page-content,
.navbar-through>.searchbar~.page-content {
  padding-top: 88px;
}
.navbar-fixed.toolbar-fixed .with-subnavbar .page-content {
  padding-top: 86px;
}

/* Subdomain Input */
#fauxInput {
  display: inline-block;
  text-indent: 10px;
  min-width: 10px;
  outline: none;
  color: #ffffff;
}

.inputWrapper {
  max-width: 250px;
  margin: 10px 0;
  cursor: text;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.domain {
  display: inline-block;
  color: #999;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

#navbar-user .item-title {
  margin-top: 2px;
}

#navbar-user.list ul{
  background: transparent;
}


.error-block{
  text-align: center;
  color: red;
}
.ios .item-input-invalid input, .ios .input-invalid input, .ios .item-input-invalid select, .ios .input-invalid select, .ios .item-input-invalid textarea, .ios .input-invalid textarea{color:var(--f7-input-text-color)}