
.login-screen-title img {
    width: 60%;
}

.view-main .page {
    --f7-page-transition-duration: 400ms;
    --f7-page-bg-color: #efeff4;

}


.login-btn i {
    float: right;
    margin-right: 5px;
    line-height: unset !important;
}

.media-list .item-media img, li.media-item .item-media img {
    border-radius: 5px;
}

.title-large .badge {
    padding: 6px 8px;
    border-radius: 25%;
    height: unset;
    width: unset;
}

.user-list img {
    border-radius: 5px;
}

#employee-list .badge{
    padding: 6px;
    height: unset;
    min-width: unset;
}

#employee-details img{
    border-radius: 5px;
}

#projects-list .project-name {
    font-size: 14px;
    font-weight: 500;
}

#projects-list .client-name {
    font-size: 13px;
}

.deadline {
    font-size: 12px;
}

#projects-list .task, #my-projects-list .task {
    font-size: 13px;
}

#projects-list .card i, #my-projects-list .card i {
    font-size: 15px;
}

#projects-list img, #my-projects-list img {
    border-radius: 5px;
}


#task-list .project-name, #my-task-list .project-name {
    font-size: 14px;
    font-weight: 500;
}

#task-list .task, #my-task-list .task {
    font-size: 13px;
}

#task-list .card i, #my-task-list .card i {
    font-size: 15px;
}

#task-list img, #my-task-list img {
    border-radius: 5px;
}


.font-13 {
    font-size: 13px;
}

.task-project, .task-project i {
    font-size: 13px;
}


/* AJAY CSS*/
#description img {
    width: 100% !important;
}
.item-input-error-message{
    white-space: normal !important;
}
.no-transform{
    text-transform: none !important;
}

.ios .tabbar-labels .link {
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: center;
}
.dashboard-widget-icon {
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.bg-success-gradient {
    background-image: linear-gradient(
            120deg
            , #84fab0 0%, #8fd3f4 100%);
}
.bg-warning-gradient {
    background-image: linear-gradient(
            120deg
            , #f6d365 0%, #fda085 100%);
}
.bg-danger-gradient {
    background-image: linear-gradient(to right, #fa709a 0%, #fe8f40 100%);
}
.bg-inverse-gradient {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}